page-welcome {
    .bg-img{
        background-image: url('../assets/imgs/font-karaoke4.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .bg-imgkaraoke{
        background-image: url('../assets/imgs/font-karaoke5.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .bg-imgkaraoke2{
        background-image: url('../assets/imgs/font-karaoke3.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
